version: '3.8'

services:
  file_server:
    image: ccr.ccs.tencentyun.com/file_hub_images/ams:latest
    container_name: ams
    restart: unless-stopped
    networks:
      - union_network

networks:
  union_network:
    external: true