version: '3.8'

services:
  ams:
    image: ccr.ccs.tencentyun.com/file_hub_images/ams:latest
    container_name: ams
    restart: unless-stopped
    ports:
      - "8001:8001"
    networks:
      - union_network

networks:
  union_network:
    external: true