version: '3.8'

services:
  ams:
    image: ccr.ccs.tencentyun.com/file_hub_images/ams:latest
    container_name: ams
    restart: unless-stopped
    ports:
      - "8001:8001"
    environment:
      - DB_HOST=file_hub_mysql
      - DB_PORT=3306
      - DB_USER=file_hub_user
      - DB_PASSWORD=file_hub_password
      - DB_NAME=file_hub
    networks:
      - union_network

networks:
  union_network:
    external: true